body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Courier New', monospace;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control:not(active) {
    background-color: #232428;
    color: white;
}

.form-control:focus {
    background-color: #232428;
    color: white;
    box-shadow: #232428;
}

.login-box {
    background-color: #363B41;
    border: 1px white solid;
    border-radius: 7px;
    width: 26vw;
    min-width: 320px;
}

.dropup .dropdown-toggle::after {
    content: none;
}

.chat-box {
    background-color: #363b41;
    height: 100vh;
    overflow-y: scroll;
}

.messages-box {
    height: 95%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363b41;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232428;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #232428;
}

.video-display {
  overflow-x: auto;
}

.video-display::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.card-text {
  font-size: 12px;
}

.card-body {
  padding: 2px;
  margin: 2px;
}

.register-text {
  font-size: 11px;
}

.server-div {
  padding: 30px;
  width: 45vw;
  background-color: #343a40;
}

.delete-popover {
  text-align: center;
  position: fixed;
  background-color: #292e32;
  padding: 30px;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.create-server-box {
  background-color: #363B41;
  border: 1px white solid;
  border-radius: 7px;
  width: 32vw;
  min-width: 320px;
}
